<connectionStrings>
  <add name="BlogEngineContext" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BlogEngine; User ID=sa;Password=cmdok2017;"/>

    <add name="BlogEngine.Report.Properties.Settings.BlogEngineConnectionString"
        connectionString="Data Source=192.168.20.55;Initial Catalog=BlogEngine;Integrated Security=True"
        providerName="System.Data.SqlClient" />

</connectionStrings>