<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BlogEngine.Report.Properties.Settings.BlogEngineConnectionString"
            connectionString="Data Source=192.168.20.55;Initial Catalog=BlogEngine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>